<app-bread-crumb [items]="[{'text': 'Categorias', 'link': '/categories'}, {'text': pageTitle}]"
></app-bread-crumb>

<app-page-header
[page-title]="pageTitle" 
button-text="<< Voltar"
button-link= '/categories'
button-class='btn-light'
></app-page-header>



<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre a categoria
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="name">Nome</label>
                    <input type="name" class="form-control" id="name" formControlName="name">
                    <div class="text-danger form-text"
                        *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
                        <small *ngIf="resourceForm.get('name').errors.required">Dado obrigatório</small>
                        <small *ngIf="resourceForm.get('name').errors.minlength">Deve ter no mínimo 2 caracteres</small>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="description">Decrição</label>
                    <input type="description" class="form-control" id="description" formControlName="description">

                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-danger mt-4" role="alert" *ngIf="serverErrorMessages">
        <strong>Erro no servidor:</strong>

        <ul>
            <li *ngFor="let error of serverErrorMessages">{{error}}</li>
        </ul>
    </div>
    <button type="submit" class="btn btn-primary btn-lg float-right mt-3"
        [disabled]="submittingForm || resourceForm.invalid">Salvar</button>

</form>